<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <connectionStrings>
        <add name="DbConnection" connectionString="initial catalog=TestChatDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>


    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBeh">
                    <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
                    <serviceDebug includeExceptionDetailInFaults="False"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <services>
            <service name="Library.Services.Impl.Service" behaviorConfiguration="mexBeh">
                <endpoint address=""
                          binding="netTcpBinding"
                          contract="Library.Services.IService"/>
                <endpoint address="mex"
                          binding="mexHttpBinding"
                          contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8301"/>
                        <add baseAddress="net.tcp://localhost:8302"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>